*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: #0B2434;
}
.App{
  font-family: 'Karla', sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  width: 360px;
  height: 360px;
  background-color: #F5F5F5 ;
  border-radius: 10px;
}
.rollNums{
  font-size: 20px;
}
.title{
  /* border: 1px solid; */
  font-size: 40px;
  margin: 0;
  text-align: center;
  font-size: 25.6px;
  line-height: 30px;
  letter-spacing: -0.03em;
  
  color: #2B283A;

}
.instructions{
  /* border: 1px solid; */
  text-align: center;
  font-size: 13.1072px;
  line-height: 16px;
  letter-spacing: -0.03em;
  color: #4A4E74;
  max-width: 250px;


}
.scoreBoard{
  display: flex;
  position: absolute;
}
.rollNums{
  font-size: 15px;
}
.diceContainer{
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 25px;
  row-gap: 55px;
  margin-bottom: 80px;
}
.die{
  height: 40px;
  width: 40px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 3.81277px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.dieTrue{
  background:#59E391;
  height: 40px;
  width: 40px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 3.81277px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.dieNum{
  font-size: 1.5rem;
  line-height: 24px;
  color: #2B283A;
}
.rollButton{
  position: absolute;
  top: 290px;
  width: 90px;
  height: 40px;
  border: none;
  background: #5035FF;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  font-weight: 500; 
  letter-spacing: 1px;
  font-size: 15px;
  color: #FFFFFF;
  cursor: pointer;
}
.rollButton:focus {
  outline: none;
}

.rollButton:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.3);
}
.confetti{
  height: 360px;
  width: 360px;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}
/* .record{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #59E391;
  letter-spacing: 1px;
  color: #FFFFFF;
  position: absolute;
  top: 10px;
  left: 260px;
  font-size: 13px;
  width: 70px;
  height: 24px;
  font-weight: 500; 
  border-radius: 4px;
} */